@use '../utils/alignment' as *;
@use '@/assets/styles/sass/abstracts' as *;
@use '@/assets/styles/sass/utils/mixins' as mixin;

.form {

  &__row {
  background: lightgreen;
    width: 100%;
    @extend .center-flex-horizontally;
  }

  &__buttons{
    display: flex;
    justify-content: space-between;
  }
}

.base-input {

  width: 100%;
  margin: 0 0 0.7rem 0;

  &__box {
    display: flex;
    justify-content: flex-end;
    padding: 0.3rem 5px 0.3rem 0;
    border-radius: 1rem;
    border: 1px solid $color-gray-300;
    transition: outline 0.5s ease;

    &:hover {
      outline: 0.12rem solid $color-gray-300;
    }
  }

  &__input {
    @include mixin.typographyPreset('subtitle-1');
    flex: 88% 0;
    direction: rtl;
    border: none;
    background: transparent;
    position: relative;
    z-index: 20;

    &:focus {
      outline: 0;
    }
    &--transitioned {
      transform: translateY(8px);
    }
  }

  &__label {
    position: absolute;
    transition: all 0.5s ease;
    z-index: 5;
    transform: translate(-34.4px, 1.6px);
    color: $color-light-base-2;
    @include mixin.typographyPreset('subtitle-1');

    &--transitioned {
      transform: translate(-34.4px, -6.4px);
      font-size: 0.6rem;
    }
  }

  &__text-area {
    max-height: 5rem;
  }

  &__icon-box {
    @extend .center-flex;
    flex: 0 12%;
    width: 2rem;
    margin: 10px 2px;
  }

  &__message {
    text-align: right;
    font-size: 0.6rem;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
    display: flex;
    flex-direction: row;

    &--error {
      color: $color-error-900;
      @include mixin.typographyPreset('subtitle-1');
      font-size: 0.6rem;
    }

    &-text {
      flex: 0 93%;
    }

    &-icon {
      flex: 7% 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
