@use '../abstracts' as *;

@font-face {
  font-family: YekanBakh;
  src: url($font-yekanbakh) format('truetype');
}

$typographyPresets: (
  'headline-3': (
    weight: 700,
    size: 1.6rem
  ),
  'headline-5': (
    weight: 600,
    size: 1.2rem
  ),
  'headline-6': (
    weight: 700,
    size: 1.1rem
  ),
  'subtitle-1': (
    weight: 600,
    size: 0.9rem
  ),
  'caption': (
    weight: 400,
    size: 0.65rem
  ),
  'body-1': (
    weight: 400,
    size: 0.9rem
  ),
  'body-2': (
    weight: 400,
    size: 0.75rem
  ),
  'button-1': (
    weight: 600,
    size: 0.9rem
  )
);
