$color-light-default: #fafafa;
$color-light-base: #fff;
$color-light-base-2: #5a5a5a;
$color-light-surface: #fff;
$color-gray-300: #bec1ca;
$color-gray-500: #868a95;
$color-gray-700: #5b5e69;
$color-primary-100: #f4f7fc;
$color-primary-200: #cee0fc;
$color-primary-300: #a9cafd;
$color-primary-400: #84b3fe;
$color-primary-500: #5f9dfe;
$color-primary-600: #2471eb;
$color-primary-700: #1a66e1;
$color-primary-800: #0f5cd7;
$color-primary-900: #0451cd;
$color-text-base-1: #0e101c;
$color-text-base-2: #5a5a5a;
$color-text-primary: #1a66e1;
$color-text-secondary: #ff8900;
$color-text-tertiary: #9b29b6;
$color-text-active: #5a5a5a;
$color-text-description: #6b6b6b;
$color-text-hover: #181b25;
$color-text-disabled: #c6c6c6;
$color-text-focus: #5f5f5f;
$color-text-selected: #464646;
$color-text-success: #2dc653;
$color-text-danger: #991111;
$color-text-warning: #ff9400;
$color-text-info: #2d89e9;
$color-text-divider: #676262;
$color-error-900: #ac1c1e;
$color-rgba-black-100: rgba(0, 0, 0, 0.1);
$color-rgba-black-200: rgba(0, 0, 0, 0.2);
$color-rgba-black-300: rgba(0, 0, 0, 0.3);
$color-rgba-black-600: rgba(0, 0, 0, 0.6);
