$box-shadow-heavy: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
$box-shadow-normal: 0 0 0.25rem 0 rgba(0, 67, 101, 0.05);
$box-shadow-card-hovered: 0 0 1rem 0 rgba(0, 67, 101, 0.15);
$box-shadow-tag-hovered: 0 0 0.4rem 0 rgba(0, 67, 101, 0.25);
