.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex-vertically {
  display: flex;
  align-items: center;
}

.center-flex-horizontally {
  display: flex;
  justify-content: center;
}